<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        The Medical Uncertainty Annotation project aims to improve uncertainty representation in the medical computer vision pipeline, starting from the annotated data up.</h3> 
    </div>
    <ul>
        <li><code>></code> <a href="/muadocs/about" target="_blank">Learn more</a> about the study</li>
        <li><code>></code> Important <a href="/muadocs/annotator_info">annotator information</a></li>
        <li><code>></code> I am an annotator in the <a href="/muadocs/med_grp/start">Medical Data group</a></li>
        <li><code>></code> I am an annotator in the <a href="/muadocs/syn_grp/start">Synthetic Data group</a></li>
    </ul>
    
    <p>Please direct any questions or comments to <code>andreye@uw.edu</code>.</p>
</div>

