<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        The Medical Uncertainty Annotation project aims to improve uncertainty representation in the medical computer vision pipeline, starting from the annotated data up.</h3> 
    </div>
    <ul>
        <li>Navigate <a href="/muadocs/about" target="_blank">here</a> to learn more about the study.</li>
        <li>Navigate <a href="/muadocs/med_grp/start" target="_blank">here</a> if you are an annotator in the Medical Data group.</li>
        <li>Navigate <a href="/muadocs/syn_grp/start" target="_blank">here</a> if you are an annotator in the Synthetic Data group.</li>
    
    <p>Please direct any questions or comments to andreye@uw.edu.</p>
</div>

