<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        The Medical Uncertainty Annotation project aims to improve uncertainty representation in the medical computer vision pipeline, starting from the annotated data up.</h3> 
    </div>
    <p>Navigate <a href="/about" target="_blank">here</a> to learn more about the study.</p>
    <p>Navigate <a href="/med_grp/start" target="_blank">here</a> if you are an annotator in the Medical Data group.</p>
    <p>Navigate <a href="/syn_grp/start" target="_blank">here</a> if you are an annotator in the Synthetic Data group.</p>
    
    <p>Please direct any questions or comments to andreye@uw.edu.</p>
</div>

